doctype html
head
  meta(name='viewport' content='width=device-width; initial-scale=1.0; maximum-scale=1.0;')
  title Forgot Password
  style(type='text/css').
    body{width: 100%;font-family:Verdana, sans-serif; background-color: #e6e7e8; margin:0; padding:0; -webkit-font-smoothing: antialiased;mso-margin-top-alt:0px; mso-margin-bottom-alt:0px; mso-padding-alt: 0px 0px 0px 0px;}
    p,h1,h2,h3,h4{margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0;}
    html{width: 100%;}
    table{font-size: 15px;border: 0;}
table(width='100%' border='0' align='center' cellpadding='0' cellspacing='0' style='font-family:Verdana, sans-serif;')
  tr
    td(align='center' valign='top')
      table.main(width='650' border='0' align='center' cellpadding='0' cellspacing='0')
        // Header Start
        table(width='100%' border='0' align='center' cellpadding='0' cellspacing='0')
          tr
            td(align='center' valign='top')
              table.main(width='650' border='0' align='center' cellpadding='0' cellspacing='0')
                tr
                  td(align='center' valign='top' bgcolor='#050505' style='background:#050505;')
                    table.two-left(width='560' border='0' align='center' cellpadding='0' cellspacing='0')
                      tr
                        td(height='35' align='left' valign='top' style='line-height:35px;') &nbsp;
                      tr
                        td(align='left' valign='top')
                          table(width='100%' border='0' align='left' cellpadding='0' cellspacing='0')
                            tr
                              td(align='left' valign='top' style='font-size:26px; color:#FFF;font-weight:normal;text-align:center;')
                                a(target='_blank' style='text-align: center;display: inline-block;' href='#')
                                  img(src=logo height='auto' style='display:block;' alt='')
                      tr
                        td(height='35' align='left' valign='top' style='line-height:35px;') &nbsp;
        // Header End
        // Section 1 Start
        table(width='100%' border='0' align='center' cellpadding='0' cellspacing='0')
          tr
            td(align='center' valign='top')
              table.main(width='650' border='0' align='center' bgcolor='#050505' style='background:#050505;' cellpadding='0' cellspacing='0')
                tr
                  td(align='center' valign='top')
                    table(width='560' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='#0c0c0c' style='background:#0c0c0c;padding: 15px;')
                      tr
                        td(align='left' valign='top')
                          table(width='100%' border='0' cellspacing='0' cellpadding='0')
                            tr
                              td(height='40' align='left' valign='top' style='line-height:40px;') &nbsp;
                            tr
                              td(align='left' valign='top' style='font-size: 25px;font-weight:bold;color: #ffffff;letter-spacing: 0; text-align:center;')
                                | Forgot your password?
                            tr
                              td(height='20' align='left' valign='top' style='line-height:25px;') &nbsp;
                      tr
                        td(align='center' valign='top')
                          table(width='100%' border='0' cellspacing='0' cellpadding='0')
                            tr
                              td(align='center' valign='top' style='text-align: center;font-size: 16px;color: #FFFFFF;letter-spacing: 0;line-height:26px;')
                                | Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur.
                            tr
                              td(height='30' align='left' valign='top' style='line-height:30px;') &nbsp;
                            tr
                              td(align='center' valign='top' style='text-align: center;')
                                h4(style='font-size: 22px;font-weight:bold;color: #ffffff;letter-spacing: 0; text-align:center;')
                                  | Your OTP is:
                            tr
                              td(height='15' align='left' valign='top' style='line-height:15px;') &nbsp;
                            tr
                              td(align='center' valign='top' style='text-align: center;font-size: 18px;color: #FFFFFF;letter-spacing: 0;line-height: 35px;')
                                h3(style='font-size: 30px;font-weight:bold;color:#ffffff;text-align:center;padding:15px 30px;border:1px solid #fff;display:inline-block;border-radius:10px;background:#DEB42C;')
                                  | #{otp}
                            tr
                              td(height='15' align='left' valign='top' style='line-height:15px;') &nbsp;
                            tr
                              td(align='center' valign='top' style='text-align: center;font-size: 14px;color: #FFFFFF;letter-spacing: 0;line-height:26px;')
                                | This code is valid for the next 10 minutes.
                            tr
                              td(height='50' align='left' valign='top' style='line-height:50px;') &nbsp;
        // SSection 1 End
        // footer Start
        table(width='100%' border='0' align='center' cellpadding='0' cellspacing='0')
          tr
            td(align='center' valign='top')
              table.main(width='650' border='0' align='center' cellpadding='0' cellspacing='0' bgcolor='#050505' style='background:#050505;')
                tr
                  td(align='center' valign='top')
                    table.two-left(width='560' border='0' align='center' cellpadding='0' cellspacing='0')
                      tr
                        td(height='35' align='left' valign='top' style='line-height:35px;') &nbsp;
                      tr
                        td(align='left' valign='top')
                          table(width='100%' border='0' align='left' cellpadding='0' cellspacing='0')
                            tr
                              td(align='left' valign='top' style='font-size:26px; color:#FFF;font-weight:normal;text-align:center;')
                                a(target='_blank' style='text-align: center;display: inline-block;' href='#')
                                  img(src='images/top_logo.png' height='auto' style='display:block;' alt='')
                      tr
                        td(height='35' align='left' valign='top' style='line-height:35px;') &nbsp;
        // Footer End
